@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 57px 190px;
    text-align: center;
}
nav ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    margin: 47px;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
}
ul{
    display: flex;
}
.brand{
    color: rgba(230, 83, 60, 1);
    font-size: 36px;
    font-weight: 800;
    
}
.btn-primary{
    background-color: rgba(230, 83, 60, 1);
    color:white;
    border-radius: 5px;
    border-style: none;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 8px 12px;
}